<div class="container">
  <div class="card mt-5 text-center">
    <h5 class="card-header">vCard</h5>
    <div class="card-body">
      <h5 class="card-title">Carlos Hernández</h5>
      <p class="card-text">Inscrito al evento para probar un QR</p>
      <span><i class="fas fa-phone"></i>695 xxx xxx</span>
    </div>
  <span class="mb-2"><i class="fas fa-at"> carlosprueba@gmail.com</i></span>
  <h5 class="mt-2"><span class="badge badge-secondary mb-2">Activo</span></h5>
  <ngx-qrcode
    [elementType]="elementType"
    [value]="value"
    cssClass="aClass"
    [errorCorrectionLevel]="errorCorrectionLevel">
  </ngx-qrcode>
</div>
</div>
